.container{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 300px;
    margin-top: 100px;
    gap: 10px;
    align-items: center;
}
.field{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.field_input{
    height: 25px;
}
.btn{
    background-color: orange;
    border-radius: 15px;
    border: none;
    height: 25px;
    width: 70%;
    transition: 0.2s;
}
.btn:hover{
    background-color: rgb(184, 119, 0);
}