.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.actions {
    display: flex;
    gap: 10px;
}
.actions *{
    color: grey;
    font-size: 0.9rem;
    word-spacing: -5px;
    border-right: 1px solid;
    padding-right: 3px;
}
.actions *:last-child{
    border-right: none;
}

.reply{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.reply_field{
    max-width: 400px;
}
.reply_btn{
    width: 80px;
}