.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.field {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.field > input {
    height: 25px;
}
.add_btn{
    width: 100px;
}
.text{
    width: 300px;
    height: 100px;
}